dconf/
pulse/
VSCodium/
btop/btop.log
nvim/lazy-lock.json
bleachbit/
btop/btop.log
BetterDiscord/
BetterDiscord Installer/
discord/
obsidian/
spicetify/
Electron/
qalculate/
gtk-2.0/
coreapps/
vlc/
PDFMixTool/
pavucontrol.ini
QtProject.conf
ranger/*.py
create-next-app-nodejs/ 
nextjs-nodejs/ 
flow-cli/
simple-update-notifier/
